@using LiveLife.Events.Dto
@using LiveLife.Web.Startup
@{
    ViewBag.Title ="JoinedEvents";
    ViewBag.CurrentPageName = "JoinedEvents";
}
@model IEnumerable<GetEventOutputDto>


@foreach (var item in @Model)
{
    <div class="container-fluid  ">
     <div class="row ">
    <div class="col-6">
       
        <div class="bg-secondary  mx-auto">
            <h3> @item.Name</h3>
            <h5>@item.Description</h5>
            <h5>@item.StartTime.ToString("dd.MM.yyyy")</h5>
            <h4><i class="fas fa-map-marker-alt"></i> @item.Address.City</h4>
            @if(item.StartTime > DateTime.Now){
                <a  class="btn btn-sm btn-danger float-left"  asp-action="Leave" asp-route-id="@item.Id">Leave event</a>

            }
        </div>
    </div>
     </div>
</div>
}
